.profile__name {
  margin: 0;
  padding: 0;
  padding-left: 13px;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 515px;
}

@media screen and (max-width: 628px) {
  .profile__name {
    font-size: 27px;
    line-height: 1.2;
  }
}
