.profile__add {
  margin: 0;
  align-self: center;
  justify-self: end;
  background-image: url(../../../images/profile-btn-add.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  border: 2px solid white;
  border-radius: 2px;
  box-sizing: border-box;
  grid-area: add;
  height: 50px;
  width: 150px;
  cursor: pointer;
}

.profile__add:hover {
  opacity: 0.6;
}

@media screen and (max-width: 928px) {
  .profile__add {
    width: 80%;
    justify-self: center;
    margin-top: 19px;
  }
}

@media screen and (max-width: 628px) {
  .profile__add {
    width: 282px;
  }
}
